.halves-icon-links {
    display: flex;
    justify-content: flex-start;

    a {
        font-size: 30px;
        color: @color-two;
        padding: 10px;

        &:hover {
            background: @color-one;
            color: white;
            border-radius: 5px;
        }
    }
}

.description {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.sample {
    margin-bottom: 30px;
}